@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --color-primary: #03FF00;
  --color-secondary: #9FA1A3;
}

@theme {
  --breakpoint-xz: 20rem;      /* 320px - iPhone SE */
  --breakpoint-xy: 23.5rem;    /* 376px - iPhone 6/7/8 */
  --breakpoint-xx: 25.9375rem; /* 415px - iPhone X/11 Pro */
  --breakpoint-xs: 30rem;      /* 480px */
  --breakpoint-xm: 35.9375rem; /* 575px */
  --breakpoint-ss: 38.75rem;   /* 620px */
  --breakpoint-sm: 48rem;      /* 768px */
  --breakpoint-sd: 61.9375rem; /* 991px */
  --breakpoint-md: 66.25rem;   /* 1060px */
  --breakpoint-lg: 75rem;      /* 1200px */
  --breakpoint-xl: 106.25rem;  /* 1700px */
  --breakpoint-2xl: 100rem;    /* 1600px */
  --breakpoint-3xl: 120rem;    /* 1920px */
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


.fon{
	background-image: url('../public/fon/fon.webp');
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}


.fon:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #000000;
	opacity: .4;
	z-index: -1;
}

.fon-mobil{
	background-image: url('../public/fon/fon-mobil.webp');
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: 0;
}

.fon-mobil:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #000;
	opacity: .4;
	z-index: -1;
}


@keyframes ring {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-ring {
  animation: ring 1.5s infinite;
  display: inline-block;
}

 @keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.boxShadow-inner-amber {
  box-shadow: inset 0 0 20px #E8442E;
}

.boxShadow-inner-amber:hover {
  box-shadow: 0 4px 15px #E8442E;
}
.boxShadow-inner-amber-whatsapp {
  box-shadow: inset 0 0 20px #3BC34D;
}

.boxShadow-inner-amber-whatsapp:hover {
  box-shadow: 0 4px 15px #3BC34D;
}

.boxShadow-inner-amber-telegram {
  box-shadow: inset 0 0 20px #2BA4D7;
}

.boxShadow-inner-amber-telegram:hover {
  box-shadow: 0 4px 15px #2BA4D7;
}



.striped-shining-button {
  position: relative;
  overflow: hidden;
}

.striped-shining-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    75deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: rotate(45deg);
  animation: shining 4s infinite linear;
}

@keyframes shining {
  0% {
    transform: translateX(-150%) rotate(45deg);
  }
  100% {
    transform: translateX(150%) rotate(45deg);
  }
}